<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Admin</title>
</head>
<body>
    <h1>Área de Administração</h1>
    <div>
        <button onclick="openCadastro()">Cadastrar</button>
        <button onclick="openEdicao()">Editar</button>
        <button onclick="openDeletar()">Deletar</button>
        <button onclick="openChat()">Chat</button>
    </div>

    <script>
        function openCadastro() {
            window.location.href = '/cadastrar';
        }

        function openEdicao() {
            window.location.href = '/editar';
        }

        function openDeletar() {
            window.location.href = '/deletar';
        }

        function openChat() {
            window.location.href = '/contacts';
        }
    </script>
</body>
</html>
