<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
</head>
<body>
    <div class="login-container">
        <h1>Bem-vindo</h1>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Nome de usuário" required>
            <button type="submit">Entrar</button>
        </form>
    </div>

    <div class="background-image"></div>
    
</body>
</html>
