<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
</head>
<body>
    <div class="login-container">
        <h1>Bem-vindo</h1>
        <form action="/login" method="POST">
            <div class="input-group">
                <label for="username">Nome de Usuário:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button class="login-button" type="submit">Entrar</button>
        </form>
    </div>

    <div class="background-image"></div>
    
</body>
</html>
