* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
    display: none;
}

.content.show{
    display: flex;
    gap: 14px;
    background-color: rgb(0, 123, 90);
    border-radius: 0px 0px 8px 8px;
    padding: 20px;
    height: 500px;
    justify-content: center;
}

.button-container {
    background-color: #fff;
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    margin-bottom: 10px;
}

.tab-buttons {
    display: flex;
    gap: 6px;
}

.tab-btn{
    width: 100%;
    border: none;
    color: #f2f2f2;
    background-color: rgb(57, 177, 149);
    border-radius: 8px 8px 0px 0px;
    cursor: pointer;
    padding: 8px;
    transition: background-color .3s ease;
}

.tab-btn:hover{
    background-color: rgb(0, 123, 90);
}

.tab-btn.active{
    background-color: rgb(0, 123, 90);
}

.admin-header {
    position: fixed;
    top: 5px;
    color: #333;
    margin: auto;
    margin-top: initial;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}


#form > button {

    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    outline: none;
    color: #fff;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.background-image {
    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/logo.png');
    background-size: 97%;
    background-position: 78% 50%;
    opacity: 0.5;
    z-index: -1;
}
